db==0.1.1
db-sqlite3==0.0.1
decorator==5.1.1
Flask==2.0.2
Flask-Login==0.6.0
Flask-RESTful==0.3.9
Flask-WTF==1.0.1
frozenlist==1.2.0
future==0.18.2
gazpacho==1.1
geocoder==1.38.1
geoip2==4.5.0
gevent==21.12.0
gevent-websocket==0.10.1
Pillow==8.2.0
pygame==2.0.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.27.1
requests-toolbelt==0.9.1
SQLAlchemy==1.4.34
urllib3==1.26.8
urlopen==1.0.0
webencodings==0.5.1
Werkzeug==2.0.2
WTForms==3.0.1
