{% extends "base.html" %}

{% block content %}
        <div class="container text-center">
            {% for row in cart %}
            <div class="row text-center">
                {% for item in row %}
                <div class="col-sm-3 m-5 bg-light p-5">
                    <h3>{{ item[0].article }}</h3>
                    <img src="static/img/{{ item[0].id }}.jpg" class="img-fluid">
                    <p>Кол-во: {{ item[1] }}</p>
                    <p>{{ item[0].price }}₽</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
        <div class="container text-center">
            <h3>Итог: {{ total }}₽</h3>
        </div>

        <div class="container text-center">
            <a href="/" onclick="alert('Успешная покупка!');fetch('/clear-cart')"class="btn btn-lg btn-success">Оформить заказ</a>
        </div>
        <div class="container text-center p-5">
            <a href="/clear-cart" class="btn btn-lg btn-outline-danger">Очистить корзину</a>
        </div>
{% endblock %}