{% extends "base.html" %}

{% block content %}
        <div class="container text-center">
            {% for row in data %}
            <div class="row text-center">
                {% for good in row %}
                <div class="col-sm m-5 bg-light p-5">
                    <h3>{{ good.article }}</h3>
                    <img src="static/img/{{ good.article }}.jpg" class="img-fluid">
                    <p>{{ good.about }}</p>
                    <p>{{ good.price }}₽</p>
                    <a type="button" href="/add_to_cart/{{ good.id }}" class='btn btn-lg btn-warning'>В корзину</a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
{% endblock %}